.alert {
  padding: 5px;
}

.badge {
  padding: 0.75rem 1.25rem;
  border: 3px solid black;
  box-shadow: 5px 5px 10px 1px black;
}

.gameOver {
  position: absolute;
  top: 35vh;
}

.playerScore {
  justify-content: space-around;
}

h5 {
  text-align: center;
  font-weight: normal;
  font-size: 3em;
  font-family: 'Righteous', cursive;
}

@media screen and (max-width: 50em) {
  h5 {
    font-size: 20vw;
   }
}