<div class="container-fluid">
  <div class="container">
    <div class="row">

      <div class="col-8 ranking">
        <div class="shimmer">TOP 10 PLAYERS</div>
        <table class="highscore-table table-hover">
          <thead>
              <tr>
                  <th scope="col">&nbsp;</th>
                  <th scope="col">Player</th>
                  <th scope="col">Hero</th>
                  <th scope="col">Highscore</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let user of dbService.highscores; index as i">
                  <th scope="row">{{ i + 1 }}</th>
                  <td>{{ user.nickname }}</td>
                  <td>
                    <app-hero-card
                      [inputHero]="user.hero"
                      [width]= "5"
                    ></app-hero-card>
                  </td>
                  <td>{{ user.highscore }}</td>
              </tr>
          </tbody>
        </table>
      </div>

      <div class="col-4 flex-fill">
        <div class="aside">
          <app-user-card
            [nickname]="authService.user.nickname"
            [gold]="authService.user.gold"
            [hero]="authService.user.hero"
          ></app-user-card>
        </div>
      </div>
    </div>
  </div>
</div>
