<div class="container-fluid wallpaper">
  <div class="row justify-content-between">
    <div class="col-4">
      <app-logo></app-logo>
    </div>
    <div class="col-4">
      <div class="gameboy">{{ dbService.user.nickname }}</div>
      <img src="{{ dbService.user.hero.img }}" class="gameboy" />
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <img class="lootbox" src="assets/img/lootbox.jpg" />
    </div>
    <div class="col-3">
      <img
        class="plus"
        data-toggle="modal"
        data-target="#exampleModalCenter"
        src="assets/img/plus.png"
      />
    </div>
    <div class="col-3">
      <img
        class="plus"
        data-toggle="modal"
        data-target="#exampleModalCenter"
        src="assets/img/plus.png"
      />
    </div>
    <div class="col-3">
      <img
        class="plus"
        data-toggle="modal"
        data-target="#exampleModalCenter"
        src="assets/img/plus.png"
      />
    </div>
  </div>
  <!-- Modal -->
  <div
    class="modal fade"
    id="exampleModalCenter"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">Friends</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ➡️ Jerome11
          <br />
          ➡️ Mickael3
          <br />
          ➡️ James15
          <br />
          ➡️ Bryant1993
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Close
          </button>
          <button type="button" class="btn btn-primary">Invite Friends</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-end">
    <div class="col-4">
      <div class="play" routerLink="/game">
        <a>Play</a>
      </div>
    </div>
  </div>
</div>
