.userCard {
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    background-color: transparent;
    border: 1px, solid, #495057;
    border-radius: 10px;
}
.card-title {
    text-align: center;
    background-color: #495057;
    color: white;
    border-radius: 10px;
}

img {
    max-width: 100%;
    height: auto;
}

li {
    list-style: none;
}