.capacity-container {
  width: 4vw;
}

.capacity {
  width: 100%;
  height: 4vw;
  background-size: contain;
  border: 1px solid white;
  /* border-radius: 50%; */
}

.overlay {
  width: 100%;
  background-size: 100%;
  /* border-radius: 50%; */
  z-index: 2;
  filter: grayscale(1);
}

.capacity-text {
  text-align: center;
  width: 100%;
  font-size: medium;
  font-weight: 400;
  color: white;
  z-index: 3;
}

.pulsate-fwd {
  -webkit-animation: pulsate-fwd 0.8s ease-in-out infinite both;
  animation: pulsate-fwd 0.8s ease-in-out infinite both;
}

@-webkit-keyframes pulsate-fwd {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes pulsate-fwd {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
