.capacity {
  width: 4vw;
  height: 4vw;
  background-size: contain;
  border: 1px solid white;
  /* border-radius: 50%; */
  position: absolute;
  top: 17em;
  right: 11em;
}

.overlay {
  width: 100%;
  background-size: 100%;
  /* border-radius: 50%; */
  z-index: 2;
  filter: grayscale(1);
}