<ul class="nav nav-tabs">
  <li class="nav-item" class="menucenter" (click)="setSelectedCategory('friends')">
      <span class="nav-link" [class.active]="selectedCategory === 'friends'">Friends</span>
  </li>
  <li class="nav-item" class="menucenter" (click)="setSelectedCategory('invitations')">
      <span class="nav-link" [class.active]="selectedCategory === 'invitations'">Invitations</span>
  </li>
</ul>


<app-friends *ngIf="selectedCategory === 'friends'"></app-friends>
<app-invitations *ngIf="selectedCategory === 'invitations'"></app-invitations>