<div class="container-fluid loginPage">
  <div class="loginCard">
    <div class="loginLogo">
      <app-logo></app-logo>
    </div>
    <p>Nickname</p>
    <input
      type="text"
      [(ngModel)]="user.nickname"
      class="input"
      placeholder="Nickname"
      (keyup.enter)="signin()"
    />
    <p>Password</p>
    <input
      type="password"
      [(ngModel)]="user.password"
      class="input"
      placeholder="Password"
      (keyup.enter)="signin()"
    />
    
    <div class="btnContainer">
      <span routerLink="/sign-up">Sign Up</span>
      <app-button buttonType="login" text="Log In" (click)="signin()" size="1.4"></app-button>
    </div>
  </div>
</div>
