.vertical-center {
  overflow: hidden;
  min-height: 100%;
  min-width: 100%;
  display: flex;
  align-items: center;
}

.logo {
  width: 75%;
  height: auto;
}

app-background {
  display: flex;
  flex-grow: 1;
  min-height: 100%;
}

app-monster { 
  display: flex;
  flex-grow: 1;
  min-width: 100%;
}