<div class="container-fluid m-0 p-0">
  <app-background [background]="game.monster.background" [x]="game.monster.x" [index]="0">
    <app-background [background]="game.monster.background" [x]="game.monster.x" [index]="1">
      <app-background [background]="game.monster.background" [x]="game.monster.x" [index]="2">
        <app-background [background]="game.monster.background" [x]="game.monster.x" [index]="3">
          <app-background [background]="game.monster.background" [x]="game.monster.x" [index]="4">
            <div class="row playerMonster m-0">
              <app-player-container
                *ngFor="let player of game.players"
                [player]="player"
                class="col"
              ></app-player-container>
              <app-monster [monster]="game.monster"></app-monster>
            </div>

            <div *ngIf="game.victory" class="alert alert-success gameOver">
              <h5 class="alert-heading">Victory !</h5>
              <app-button text="Back to menu" url="/home" buttonType="login"></app-button>
            </div>
            <div *ngIf="game.defeat" class="alert alert-success gameOver">
              <h5 class="alert-heading">Defeat !</h5>
              <app-button text="Back to menu" url="/home" buttonType="login"></app-button>
            </div>
          </app-background>
        </app-background>
      </app-background>
    </app-background>
  </app-background>
</div>
