<div class="container-fluid m-0 p-0 vertical-center">
  <!-- <app-background
    *ngFor="let background of backgrounds"
    [monster]="monster"
    [index]="i"
    [type]="1"
  > -->
  <div
    class="game-background"
    [ngStyle]="{
      'background-image': 'url(../../../assets/img/backgrounds/1/1.png)',
      'background-position-x': getBackgroundX(0), 'background-size':'96%'
    }"
  >
    <div
      class="game-background"
      [ngStyle]="{
        'background-image': 'url(../../../assets/img/backgrounds/1/2.png)',
        'background-position-x': getBackgroundX(1), 'background-size':'96%'
      }"
    >
      <div
        class="game-background"
        [ngStyle]="{
          'background-image': 'url(../../../assets/img/backgrounds/1/3.png)',
          'background-position-x': getBackgroundX(2), 'background-size':'96%'
        }"
      >
        <div
          class="game-background"
          [ngStyle]="{
            'background-image': 'url(../../../assets/img/backgrounds/1/4.png)',
            'background-position-x': getBackgroundX(3), 'background-size':'96%'
          }"
        >
          <div class="row">
            <app-player-container
              *ngFor="let player of players"
              [player]="player"
              class="col-3"
            ></app-player-container>
            <app-monster [monster]="monster" class="col-12"></app-monster>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- </app-background> -->
</div>
