.heroListCard {
    padding: 0;
    border: 1px, solid, #495057;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2);
    background: transparent;
    color: aliceblue
}

.heroListName {
    margin: 0 0 1.5rem 0;
}

.heroName {
    margin: 0;
}

.heroListBody {
    flex: 0;
    padding: 0;
}

.heroCapacity {
    margin: 0;
}

.heroListDescription {
    margin: 2rem 0 .5rem 0;
}

.heroCapacity {
    margin: 0;
}

.heroListFooter {
    padding: 0;
    border: 0;
    background-color: transparent;
}

.capacityProperty {
    margin-bottom: 0;
    color: aliceblue
}

.buy-button {
    cursor: pointer;
}

.heroesPrice {
    margin-top: 2rem;
}

.backgeneral{
    background-color: black;
    opacity: 0.86;
    border-radius: 5px;
    border: black;
    box-shadow: 10px 5px 5px black;
}