<div class="container-fluid">
  <div class="row mt-5">
    <div class="col-2 text-center">
      <app-user-card></app-user-card>
    </div>
    <div class="col-7 borders">
      <div class="row">
        <div
          class="col text-center"
          *ngFor="let hero of dbService.heroes"
          (click)="setSelectedHero(hero)"
          [ngStyle]="{ filter: getFilter(hero.id) }"
        >
          <app-hero-card
            [inputHero]="hero"
            [selected]="hero.id === selectedHero.id"
          ></app-hero-card>
        </div>
      </div>
    </div>

    <div class="col-3 card heroListCard text-center">
      <div class="card-title heroListName">
        <h2 class="heroName">{{ selectedHero.name }}</h2>
      </div>
      <div class="card-body heroListBody">
        <div class="row no-gutter">
          <div class="col-8">
            <div class="text-center heroListCapacity align-items-center">
              <p class="heroCapacity">Capacity : {{ selectedHero.capacity.name }}</p>
            </div>
          </div>
          <div class="col-4">
            <app-capacity-icon
              [capacityName]="selectedHero.capacity.name"
              [progress]="100"
            ></app-capacity-icon>
          </div>
        </div>
        <div class="row no-gutter heroListDescription">
          <p class="heroDescription">{{ selectedHero.capacity.description }}</p>
        </div>
      </div>
      <div class="card-footer heroListFooter text-muted">
        <p class="capacityProperty">Cooldown : {{ selectedHero.capacity.cooldown }}</p>
      </div>
      <div
        class="card-footer heroListFooter text-muted"
        *ngIf="selectedHero.capacity.duration !== 0"
      >
        <p class="capacityProperty">Duration : {{ selectedHero.capacity.duration }}</p>
      </div>
      <div *ngIf="!isOwned(selectedHero.id)">
        {{ selectedHero.price }} gold
        <button
          type="button"
          class="buy-button"
          [disabled]="!canBuy(selectedHero.price)"
          (click)="buyHero(selectedHero)"
        >
          Buy
        </button>
      </div>
    </div>
  </div>
</div>
