.heroListCard {
  padding: 0;
  border: 0px;
  background: transparent;
}
.heroListName {
  margin: 0 0 1.5rem 0;
}
.heroName {
  margin: 0;
}
.heroListBody {
  flex: 0;
  padding: 0;
}
.heroCapacity {
  margin: 0;
}
.heroListDescription {
  margin: 2rem 0 0 0;
}
.heroCapacity {
  margin: 0;
}
.heroListFooter {
  padding: 0;
  border: 0px;
  background-color: transparent;
}
.capacityProperty {
  margin-bottom: 0;
}
