.d-block {
  background-color: rgba(255, 255, 255, 0.2);
}

.boardRow {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.boardCol {
  display: flex;
  flex-direction: column;
  min-width: 1.6vw;
  height: 1.6vw;
}

.block {
  width: auto;
  height: 100%;
}

.player1 {
  border: 2px solid rgb(124, 2, 2);
  border-radius: 2%;
  width: 75%;
}

.player2 {
  border: 2px solid rgb(43, 105, 43);
  border-radius: 2%;
  width: 75%;
}

.player3 {
  border: 2px solid rgb(37, 37, 105);
  border-radius: 2%;
  width: 75%;
}

.player4 {
  border: 2px solid rgb(243, 196, 43);
  border-radius: 2%;
  width: 75%;
}
