.boardRow {
  display: flex;
  flex-direction: row;
}

.boardCol {
  display: flex;
  flex-direction: column;
  width: 25px;
  height: 25px;
  border: 1px dotted lightgray;
}

.block {
  width: 100%;
  height: auto;
}

.player1 {
    border: 2px solid rgb(124, 2, 2) ;
    position: absolute;
}

.player2 {
  border: 2px solid rgb(43, 105, 43) ;
  transform: rotate(90deg);
  position: absolute;
  top: 418px;
  left: 393px;
}

.player3 {
  border: 2px solid rgb(37, 37, 105) ;
  transform: rotate(180deg);
  position: absolute;
  top:797px;
}

.player4 {
  border: 2px solid rgb(243, 196, 43) ;
  transform: rotate(-90deg);
  position: absolute;
  top: 418px;
  left: -364px;
}

