<div class="container-fluid loginPage">
    <div>
        <span>Already register?</span>
        <span> please sign in here</span>
        <app-button text="Sign in" url="/sign-in" buttonType="login"></app-button>
    </div>
    <div>
        <span>If you want to play to super Block heroes please sign in here: </span>
        <app-button text="Sign up" url="/sign-up" buttonType="login"></app-button>
    </div>
    <div>
        <span>Forgot your pasword? : </span>
        <app-button text="Here" (click)="forgotPW()"></app-button>
    </div>
</div>