.cuteButton {
  position: absolute;
  background-size: contain;
  background-image: url(/assets/img/menuButton.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 100px;
  height: 50px;
  transition: 1s;
}
.cuteButton:hover {
  filter: saturate(2);
  transform: scale(1.1);
  transition-property: transform;
  transition-duration: 1s;
}
p {
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 1em;
  font-weight: bold;
  text-align: center;
  margin-top: 12px;
}
a {
  color: rgb(63, 63, 63);
  text-decoration: none;
}
