.buttonContainer {
    margin: 0;
    padding: 0;
    width: 100%;
    font-weight: bold;
    text-align: center;
}

.buttonLink {
    padding: 1em;
    color: rgb(63, 63, 63);
    text-decoration: none;
}

.loginButton {
    color: #fff;
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
    border: none;
    transition: 1s;
}

.loginButton:hover {
    filter: saturate(1.2);
    transform: scale(1.1);
    transition-property: transform;
    transition-duration: 1s;
}

.loginButton:focus {
    outline: 0;
}
