<div class="container-fluid loginPage">
  <div class="loginCard">
    <div class="loginLogo">
      <app-logo></app-logo>
    </div>

    <p>Nickname</p>
    <input
      type="text"
      [(ngModel)]="user.nickname"
      class="input"
      placeholder="Nickname"
      (keyup.enter)="signin()"
    />

    <p>Email</p>
    <input
      type="text"
      [(ngModel)]="user.email"
      class="input"
      placeholder="user@email.com"
      (keyup.enter)="signup()"
    />

    <p>Pseudo</p>
    <input
      type="password"
      [(ngModel)]="user.password"
      class="input"
      placeholder="Password"
      (keyup.enter)="signin()"
    />

    <div class="btnContainer">
      <app-button buttonType="login" text="Sign Up" (click)="signup()" size="1.4"></app-button>
    </div>
  </div>
</div>
