<div class="container-fluid">
  <div class="LogOut">
    <app-button text="Log Out" size="1" backgrnd="red" [callback]="logout.bind(this)"></app-button>
  </div>
  <div class="row justify-content-between">
    <div class="col-4">
      <app-logo></app-logo>
    </div>
    <div class="col-4">
      <div class="user-card">
        <app-user-card
          [nickname]="authService.user.nickname"
          [gold]="authService.user.gold"
          [hero]="authService.user.hero"
        ></app-user-card>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="offset-1 col-3">
      <img class="lootbox" src="assets/img/lobby/lootbox.jpg" routerLink="/home/collection" />
    </div>
    <div class="offset-4 col-4">
      <app-button url="/game-lobby" text="Play" size="2"></app-button>
    </div>
  </div>
</div>
