<div class="container-fluid">
  <div class="LogOut">
  <app-button text="Log Out" url="/sign-in" size="1"></app-button>
</div>
  <div class="row justify-content-between">
    <div class="col-4">
      <app-logo></app-logo>
    </div>
    <div class="col-4">
      <div class="user-card">
        <app-user-card
          [nickname]="authService.user.nickname"
          [gold]="authService.user.gold"
          [hero]="authService.user.hero"
        ></app-user-card>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="offset-1 col-3">
      <img class="lootbox" src="assets/img/lobby/lootbox.jpg" routerLink="/home/collection"/>
    </div>
    <!-- <div class="col-3">
      <img
        class="plus"
        data-toggle="modal"
        data-target="#exampleModalCenter"
        src="assets/img/lobby/plus.png"
      />
    </div>
    <div class="col-3">
      <img
        class="plus"
        data-toggle="modal"
        data-target="#exampleModalCenter"
        src="assets/img/lobby/plus.png"
      />
    </div>
    <div class="col-3">
      <img
        class="plus"
        data-toggle="modal"
        data-target="#exampleModalCenter"
        src="assets/img/lobby/plus.png"
      />
    </div> -->
    <div class="offset-4 col-4">
      <app-button text="Play" url="/game-lobby" size="2"></app-button>
    </div>
  </div>
  <!-- <div class="row justify-content-end">
  </div> -->
</div>
