.loginPage{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: lightblue;
    align-items: center;
    width: 600px;
    height: 400px;
    padding: 15px;
    margin: 30px;
}