<div class="container">
    <div class="row justify-content-between">
        <div class="col-4">
            <img class="logo" src="assets/img/logo.png">
        </div>
        <div class="col-4">
            <img class="gameboy" src="assets/img/gameboy.png">
            <div class="monpseudo">Mon pseudo</div>
        </div>
    </div>
    <div class="col-4">
        <img class="gameboy" src="assets/img/gameboy.png" />
    </div>
</div>
<div class="row">
    <div class="col-3">
        <img class="lootbox" src="assets/img/lootbox.jpg" />
    </div>
    <div class="row justify-content-end">
        <div class="col-4">
            <div class="play" routerLink="/game">
                <p><a>Play</a></p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="cuteButton" routerLink="/store">
                <p><a>Store</a></p>
            </div>
        </div>
        <div class="col">
            <div class="cuteButton" routerLink="/social">
                <p><a>Social</a></p>
            </div>
        </div>
        <div class="col">
            <div class="cuteButton" routerLink="/myaccount">
                <p><a>My Account</a></p>
            </div>
        </div>
        <div class="col">
            <div class="cuteButton" routerLink="/ranking">
                <p><a>Ranking</a></p>
            </div>
        </div>
        <div class="col">
            <div class="cuteButton" routerLink="/collection">
                <p><a>Colletion</a></p>
            </div>
        </div>
    </div>
</div>
</div>
<div class="row justify-content-end">
    <div class="col-4">
        <button class="play" routerLink="/game">Play</button>
    </div>
</div>
<div class="row">
    <div class="col">
        <button class="bt" routerLink="/store">Store</button>
    </div>
    <div class="col">
        <button class="bt" routerLink="/social">Social</button>
    </div>
    <div class="col">
        <button class="bt" routerLink="/myaccount">My Account</button>
    </div>
    <div class="col">
        <button class="bt" routerLink="/ranking">Ranking</button>
    </div>
    <div class="col">
        <button class="bt" routerLink="/collection">Collection</button>
    </div>
</div>

<app-menu></app-menu>
</div>