<div>
    <img class="logo" src="assets/img/logo.png">
    <div>
        <img class="gameboy" src="assets/img/gameboy.png">
    </div>
</div>

<button class="playbutton"><a [routerLink]="['/game']">Play</a></button>

<div class="square">
    <img class="lootbox" src="assets/img/lootbox.jpg">
</div>

<div class="rectangle1">
    <button class="store">Store</button>
</div>
<div class="rectangle2">
    <button class="social">Social</button>
</div>
<div class="rectangle3">
    <button class="myaccount">My Account</button>
</div>
<div class="rectangle4">
    <button class="ranking">Ranking</button>
</div>
<div class="rectangle5">
    <button class="collection">Collection</button>
</div>


<app-menu></app-menu>