/* You can add global styles to this file, and also import other style files */
@import url(https://unpkg.com/bootstrap@4.1.1/dist/css/bootstrap.min.css);
@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');

html {
    min-height: 100%;
    min-width: 100%;
    display: flex;
    flex-grow: 1;
}

body {
    min-height: 100%;
    min-width: 100%;
    font-family: 'Righteous', cursive;
}

app-root {
    min-height: 100%;
    min-width: 100%;
    display: flex;
}

app-game {
    min-height: 100%;
    min-width: 100%;
    display: flex;
}

app-home {
    min-height: 100%;
    min-width: 100%;
    background-image: url(assets/img/backgrounds/Cartoon_Forest_BG_01.png);
    opacity: 0.8;
}

app-login {
    min-height: 100%;
    min-width: 100%;
    background-image: url(assets/img/backgrounds/Cartoon_Forest_BG_01.png);
    opacity: 0.8;
}

app-game-lobby {
    min-height: 100%;
    min-width: 100%;
    background-image: url(assets/img/backgrounds/Cartoon_Forest_BG_01.png);
    opacity: 0.8;
}

app-sign-in {
    min-height: 100%;
    min-width: 100%;
    background-image: url(assets/img/backgrounds/Cartoon_Forest_BG_01.png);
    opacity: 0.8;
}

app-sign-up {
    min-height: 100%;
    min-width: 100%;
    background-image: url(assets/img/backgrounds/Cartoon_Forest_BG_01.png);
    opacity: 0.8;
}
